<a href="https://colab.research.google.com/github/anubhavgupta1/Foundations-of-Python/blob/master/2_Lists%20and%20Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lists

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print ('Happy New Year:',  friend)
print ('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [ ]:
# Looking Inside Lists
friends = [ 'Joseph', 'Glenn', 'Sally' ]
print (friends[1])

Glenn

In [ ]:
# Lists are Mutable
lotto = [2, 14, 26, 41, 63]
print (lotto)
lotto[2] = 28
print (lotto)

[2, 14, 26, 41, 63]
[2, 14, 28, 41, 63]

In [ ]:
# How Long is a List?

greet = 'Hello Bob'
print (len(greet))
x = [ 1, 2, 'joe', 99]
print (len(x))

9
4

In [ ]:

print (range(4))
friends = ['Joseph', 'Glenn', 'Sally']
print (len(friends))
print (range(len(friends)))

range(0, 4)
3
range(0, 3)

In [ ]:
# Is Something in a List?

some = [1, 9, 21, 10, 16]
9 in some

True

In [ ]:
#A tale of two loops...

friends = ['Joseph', 'Glenn', 'Sally']

for friend in friends :
    print ('Happy New Year:',  friend)

for i in range(len(friends)) :
    friend = friends[i]
    print ('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [ ]:
#A tale of two loops...

friends = ['Joseph', 'Glenn', 'Sally']

for friend in friends :
    print ('Happy New Year:',  friend)

for i in range(len(friends)) :
    friend = friends[i]
    print ('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [ ]:
# Concatenating lists using +

a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

In [ ]:
# Lists can be sliced using :

t = [9, 41, 12, 3, 74, 15]
print(t[1:3])
print(t[:4])
print(t[3:])
print(t[:])

[41, 12]
[9, 41, 12, 3]
[3, 74, 15]
[9, 41, 12, 3, 74, 15]

In [ ]:
# Building a List from Scratch

stuff = list()
stuff.append('book')
stuff.append(99)
print (stuff)
stuff.append('cookie')
print (stuff)

['book', 99]
['book', 99, 'cookie']

In [ ]:
# A List is an Ordered Sequence

friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print (friends)
print (friends[1])

['Glenn', 'Joseph', 'Sally']
Joseph

In [ ]:
# Built-in Functions and Lists
nums = [3, 41, 12, 9, 74, 15]
print (len(nums))
print (max(nums))
print (min(nums))
print (sum(nums))
print (sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [ ]:
#Computing Average - 1
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    total = total + value     
    count = count + 1

average = total / count
print ('Average:', average)

Enter a number: 3
Enter a number: 41
Enter a number: 12
Enter a number: 9
Enter a number: 74
Enter a number: 15
Enter a number: done
Average: 25.666666666666668

In [ ]:
#Computing Average - 2
numlist = list()
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    numlist.append(value)

average = sum(numlist) / len(numlist)
print ('Average:', average)

Enter a number: 3
Enter a number: 41
Enter a number: 12
Enter a number: 9
Enter a number: 74
Enter a number: 15
Enter a number: done
Average: 25.666666666666668

In [ ]:
# Best Friends: Strings and Lists

abc = 'With three words'
stuff = abc.split()
print (stuff)
print (len(stuff))
print (stuff[0])
help([].append)

['With', 'three', 'words']
3
With
Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

In [ ]:
for w in stuff :
     print (w)

With
three
words

In [ ]:
#Split

line = 'A lot               of spaces'
etc = line.split()
print (etc)

line = 'first;second;third'
thing = line.split()
print (thing)
print (len(thing))
thing = line.split(';')
print (thing)
print (len(thing))

['A', 'lot', 'of', 'spaces']
['first;second;third']
1
['first', 'second', 'third']
3

In [ ]:
# The Double Split Pattern
## Sometimes we split a line one way, and then grab one of the pieces of the line and split that piece again
line = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
words = line.split()

# stephen.marquard@uct.ac.za
email = words[1]

#['stephen.marquard', 'uct.ac.za']
pieces = email.split('@')

#'uct.ac.za'
print (pieces[1])

uct.ac.za

#Dictionaries

In [ ]:
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
print(purse)
print(purse['candy'])
purse['candy'] = purse['candy'] + 2
print(purse)

{'money': 12, 'candy': 3, 'tissues': 75}
3
{'money': 12, 'candy': 5, 'tissues': 75}

#Comparing Lists and Dictionaries

In [ ]:
lst = list()
lst.append(21)
lst.append(183)
print(lst)
lst[0] = 23
print(lst)

[21, 183]
[23, 183]

In [ ]:
ddd = dict()
ddd['age'] = 21
ddd['course'] = 182
print(ddd)
ddd['age'] = 23
print(ddd)

{'age': 21, 'course': 182}
{'age': 23, 'course': 182}

In [ ]:
## Dictionary Literals (Constants)

jjj = { 'chuck' : 1 , 'fred' : 42, 'jan': 100}
print(jjj)
print(jjj['chuck'])

ooo = { }
print(ooo)

print(jjj.values())

{'chuck': 1, 'fred': 42, 'jan': 100}
1
{}
dict_values([1, 42, 100])

In [ ]:
## Many Counters with a Dictionary
ccc = dict()
ccc['csev'] = 1
ccc['cwen'] = 1
print(ccc)
ccc['cwen'] = ccc['cwen'] + 1
print(ccc)

{'csev': 1, 'cwen': 1}
{'csev': 1, 'cwen': 2}

In [ ]:
## When we see a new name

counts = dict()
names = ['csev', 'cwen', 'csev', 'zqian', 'cwen']
for name in names :
    if name not in counts: 
       counts[name] = 1
    else :
        counts[name] = counts[name] + 1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [ ]:
## Simplified counting with get()
counts = dict()
names = ['csev', 'cwen', 'csev', 'zqian', 'cwen']
for name in names :
    counts[name] = counts.get(name, 0) + 1
print(counts)

{'csev': 2, 'cwen': 2, 'zqian': 1}

In [ ]:
counts = dict()
line = input('Enter a line of text:')
words = line.split()

print('Words:', words)
print('Counting...')

for word in words:
    counts[word] = counts.get(word,0) + 1
print('Counts', counts)

Enter a line of text:Three Idiots Forever Guggu Duggu Candy
Words: ['Three', 'Idiots', 'Forever', 'Guggu', 'Duggu', 'Candy']
Counting...
Counts {'Three': 1, 'Idiots': 1, 'Forever': 1, 'Guggu': 1, 'Duggu': 1, 'Candy': 1}

In [ ]:
## Definite Loops and Dictionaries

counts = { 'chuck' : 1 , 'fred' : 42, 'jan': 100}
for key in counts:
    print(key, counts[key])

chuck 1
fred 42
jan 100

In [ ]:
## Retrieving lists of Keys and Values

jjj = { 'chuck' : 1 , 'fred' : 42, 'jan': 100, 'chuck':10}
print(list(jjj))
print(jjj.keys())
print(jjj.values())
print(jjj.items())

['chuck', 'fred', 'jan']
dict_keys(['chuck', 'fred', 'jan'])
dict_values([10, 42, 100])
dict_items([('chuck', 10), ('fred', 42), ('jan', 100)])

In [ ]:
l = [('chuck', 10), ('fred', 42), ('jan', 100)]
print(dict(l))
a = list((1,2))
print(a)
print(tuple([1,2]))

{'chuck': 10, 'fred': 42, 'jan': 100}
[1, 2]
(1, 2)

In [ ]:
## Bonus: Two Iteration Variables!

jjj = { 'chuck' : 1 , 'fred' : 42, 'jan': 100}
for name,val in jjj.items():
    print(name, val)

chuck 1
fred 42
jan 100

In [ ]:
(1, 2, 3) > (3, 2)

False

In [ ]:
x = print()
print(x)
y = ""
print(x == y)
print(type(x))
print(type(y))

None
False
<class 'NoneType'>
<class 'str'>

In [ ]:
mybag = {}
mybag['nbooks'] = 1
mybag['pen'] = 5
mybag['laptop'] = True
mybag['nbooks']
if 'laptop' in mybag: print("Bingo")
else: 
    print("Sorry")

Bingo