<a href="https://colab.research.google.com/github/anubhavgupta1/Foundations-of-Python/blob/master/4_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Arrays are mutable
x = [9, 8, 7]
x[2] = 6
print(x)

[9, 8, 6]

In [ ]:
# You can't change a tuple
y = 'ABC'
# y[2] = 'D' is wrong

In [ ]:
z = (5, 4, 3)
#z[2] = 0

def swap(l):
    if l[0] > l[1]:
        tmp = l[0]
        l[0] = l[1]
        l[1] = tmp

a = [2, 1]
swap(a)
print(a)

[1, 2]

In [ ]:
# Tuple of 1 element is same as atom or primitive
# It is safe to pass tuple not list to a function
# A table is generally thought of list of tuples
# Every record is considered like a tuple
# Tuple is something that can fit into memory at any point
# Tuples are light weight as compared with a list
def myf():
    return (1,2,3)

(x, y, z) = myf()
[x, y, z] = (1,2,3)
print(x)
print(y)
print(z)

# Table (RDBMS) <> Dataframe (R, pandas/python) <> Spreadsheet (not data structures of python)
# array == list

1
2
3

In [ ]:
# Things not to do with tuples
x = (3, 2, 1)
# x.sort() 'tuple' object has no attribute 'sort'
# x.append(5) 'tuple' object has no attribute 'append'
# x.reverse() 'tuple' object has no attribute 'reverse'

In [ ]:
# A Tale of  Two Sequences

l = list()
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
t = tuple()
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
# Tuples and Assignment
(x, y) = (4, 'fred')
print(y)
print(x)

(a, b) = (99, 98)
print(a)

fred
4
99

In [ ]:
def order(x, y):
    if x> y:
        return (x, y)
    return (y, x)

(a, b) = order(1, 2)
(x, y) = order(4, 5)
print(a, b, x, y)

2 1 5 4

In [ ]:
d = dict()
d['csev'] = 2
d['cwen'] = 4
for (k,v) in d.items(): 
    print(k, v)

csev 2
cwen 4

In [ ]:
tups = d.items()
print(tups)

dict_items([('csev', 2), ('cwen', 4)])

In [ ]:
## Tuples are Comparable
print((0, 1, 2, 4, 5, 5) < (1, 0))
print((0, 1) < (0, 1, 2))

True
True

In [ ]:
print((0, 1, 2000000) < (0, 3, 4))
print(( 'Jones', 'Sally' ) < ('Jones', 'Sam'))
print(( 'Jones', 'Sally') > ('Adams', 'Sam'))

True
True
True

In [ ]:
# Sorting Lists of Tuples
d = {'a':10, 'b':1, 'c':22}
t = d.items()
t

dict_items([('a', 10), ('b', 1), ('c', 22)])

In [ ]:
## Using sorted()

for k, v in sorted(d.items()):
   print(k, v)

a 10
b 1
c 22

In [ ]:
## Sort by values instead of key

c = {'a':10, 'b':1, 'c':22}
tmp = list()
for k, v in c.items() :
    tmp.append( (v, k) )

print(tmp)
tmp.sort(reverse=True)
print(tmp)

[(10, 'a'), (1, 'b'), (22, 'c')]
[(22, 'c'), (10, 'a'), (1, 'b')]

In [ ]:
## Even Shorter Version

c = {'a':10, 'b':1, 'c':22}
print(sorted( [ (v,k) for k,v in c.items() ]))

[(1, 'b'), (10, 'a'), (22, 'c')]

In [ ]:
a = [1,2,3,4,5]
ret = []
for e in a:
    ret.append(e*2)
print(ret)

[2, 4, 6, 8, 10]

In [ ]:
ret = [e*2 for e in a]
print(ret)

[2, 4, 6, 8, 10]