<a href="https://colab.research.google.com/github/anubhavgupta1/Foundations-of-Python/blob/master/Foundations_of_Python_regular_expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re

In [2]:
x = "aaa"
y = re.findall("a", x)
print(y)

['a', 'a', 'a']

In [3]:
x = "aaa"
y = re.findall("aa", x)
print(y)

['aa']

In [4]:
x = "this is a aa cab and that is a aaa"
y = re.findall("and", x)
print(y)

['and']

In [5]:
#Any character (except newline character)
# match any single character
x = "this is a line"
y = re.findall(".", x)
print(y)

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 'l', 'i', 'n', 'e']

In [6]:
# match any word of length 2 
x = "this is a line"
y = re.findall("..", x)
print(y)

['th', 'is', ' i', 's ', 'a ', 'li', 'ne']

In [7]:
# match any word of length 3
x = "this is a line"
y = re.findall("...", x)
print(y)

['thi', 's i', 's a', ' li']

In [8]:
# match any word of length 4
x = "this is a line"
y = re.findall("....", x)
print(y)

['this', ' is ', 'a li']

In [9]:
# space followed by any double characters and then space
x = "this is a aa and that is a aaa"
y = re.findall(" .. ", x)
print(y)

[' is ', ' aa ', ' is ']

In [10]:
# matches any word that starts with t and ends with any three characters
x = "this is a aa and that is a aaa"
y = re.findall("t...", x)
print(y)

['this', 'that']

In [11]:
# matches any word that starts with a and ends with anyone character
x = "this is a aa and that is a aaa"
y = re.findall("a.", x)
print(y)

['a ', 'aa', 'an', 'at', 'a ', 'aa']

In [12]:
# Check if the string contains "a" followed by 0 or more "a" characters:
x = "this is a aa and that is a aaa"
y = re.findall("aa*", x)
print(y)

['a', 'aa', 'a', 'a', 'a', 'aaa']

In [13]:
# word that contains atleast one a 
# + means one or more characters of the preceeding characters
x = "this is a aa cab and that is aaa banana"
y = re.findall("a+", x)
print(y)

['a', 'aa', 'a', 'a', 'a', 'aaa', 'a', 'a', 'a']

In [14]:
# Check if the string contains One or more occurrences of "aa" characters:
x = "this is a plain text"
y = re.findall("aa+", x)
print(y)

[]

In [15]:
# Check if the string contains 1 or more "aa" characters:
x = "this is a aa and that is a aaa"
y = re.findall("aa+", x)
print(y)

['aa', 'aaa']

In [16]:
# + :	One or more occurrences
y = re.findall("e+", "sandeeeeeep")
print(y)

['eeeeee']

In [17]:
x = "this is a aix and that is a aixx"

#Check if the string contains "ai" followed by 1 or more "x" characters:

y = re.findall("aix+", x)

print(y)

['aix', 'aixx']

In [18]:
x = "The rain in Spain falls mainly in the plainxxx!"

#Check if the string contains "ai" followed by 1 or more "x" characters:

y = re.findall("aix+", x)

print(y)

[]

In [19]:
x = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "ai" followed by 1 or more "x" characters:

y = re.findall("aix+", x)

print(y)

[]

In [20]:
y = re.findall("e+", "")
print(y)

[]

In [21]:
# * : 	Zero or more occurrences
x = "The rain in Spain falls maixnly in the plain!"

#Check if the string contains "ai" followed by 0 or more "x" characters:

y = re.findall("aix*", x)

print(y)

['ai', 'ai', 'aix', 'ai']

In [22]:
y = re.findall("e*", "")
print(y)

['']

In [23]:
# finds words that ends with space
x = "this is a aa and that is a aaa"
y = re.findall(".+ ", x)
print(y)

['this is a aa and that is a ']

In [24]:
# finds words that starts with space
x = "this is a aa and that is a aaa"
y = re.findall(" .+", x)
print(y)

[' is a aa and that is a aaa']

In [25]:
# finds words that starts with space and ends with space
x = "this is a aa and that is a aaa"
y = re.findall(" .+ ", x)
print(y)

[' is a aa and that is a ']

In [26]:
# finds words that ends with t
x = "this is a aa and that is a aaa"
y = re.findall(".+t", x)
print(y)

['this is a aa and that']

In [27]:
# finds words that starts with space
x = "this is a aa and that is a aaa"
y = re.findall("t.+", x)
print(y)

['this is a aa and that is a aaa']

In [28]:
# finds words that starts with i and ends with t
x = "this is a aa and that is a aaa"
y = re.findall("i.+t", x)
print(y)

['is is a aa and that']

In [29]:
# matches with everything
x = "this is a aa and that is a aaa"
y = re.findall(".*", x)
print(y)

['this is a aa and that is a aaa', '']

In [30]:
# escape special meaning
x = "this is a 1+1 and that is a 2+4+6"
y = re.findall("\\+", x)
print(y)

['+', '+', '+']

In [31]:

x = "this is a aa and that is a aaa"
y = re.findall(".a", x)
print(y)

[' a', ' a', ' a', 'ha', ' a', ' a', 'aa']

In [32]:

x = "this is a 1+1 and that is a 2+4+6"
y = re.findall(".\\+", x)
print(y)

['1+', '2+', '4+']

In [33]:
#to capture begining of line
x = "this is a aa and that is a aaa"
y = re.findall("^t....", x)
print(y)

['this ']

In [34]:
#to capture end of line
x = "this is a aa and that is a aaa"
y = re.findall("........a$", x)
print(y)

[' is a aaa']

In [35]:
#to match with whitespace
x = "this is a aa and that is a aaa"
y = re.findall(".\s.", x)
print(y)

['s i', 's a', 'a a', 'd t', 't i', 's a']

In [36]:
# a followed by space 
x = "this is a aa and that is a aaa"
y = re.findall("a +", x)
print(y)

['a ', 'a ', 'a ']

In [37]:
# a followed by space 
x = "this is a aa and that is a aaa"
y = re.findall("a\s", x)
print(y)

['a ', 'a ', 'a ']

In [38]:
# a followed by non white space character
x = "this is a aa and that is a aaa"
y = re.findall("a\S", x)
print(y)

['aa', 'an', 'at', 'aa']

In [39]:
# a followed by 0 or more space
x = "this is a aa and that is a aaa"
y = re.findall("a ?", x)
print(y)

['a ', 'a', 'a ', 'a', 'a', 'a ', 'a', 'a', 'a']

In [40]:
# th followed by 0 or more space
x = "this is a aa and that is a aaa"
y = re.findall("th ?", x)
print(y)

['th', 'th']

In [41]:
# t followed by 0 or more h
x = "this is a aa and that is a aaa"
y = re.findall("th?", x)
print(y)

['th', 'th', 't']

In [42]:
# th followed by 0 or more i
x = "this is a aa and that is a aaa"
y = re.findall("thi?", x)
print(y)

['thi', 'th']

In [43]:
# to match with either as, ts, or is
x = "this is a aa and that is a aaa"
y = re.findall("[ait]s", x)
print(y)

['is', 'is', 'is']

In [44]:
# to match with either thas, that, thit, that
x = "this is a aa and that is a aaa"
y = re.findall("th[ai][st]", x)
print(y)

['this', 'that']

In [45]:
# to find vowels
x = "this is a aa and that is a aaa"
y = re.findall("[aeiou]", x)
print(y)

['i', 'i', 'a', 'a', 'a', 'a', 'a', 'i', 'a', 'a', 'a', 'a']

In [46]:
# to find two vowels continuously
x = "this is a aa and that is a aaa"
y = re.findall("[aeiou][aeiou]", x)
print(y)

['aa', 'aa']

In [47]:
# to find one or more vowels continuously
x = "this is a aa and that is a aaa"
y = re.findall("[aeiou]+", x)
print(y)

['i', 'i', 'a', 'aa', 'a', 'a', 'i', 'a', 'aaa']

In [48]:
# to find everything other than vowels i.e consonants and whitespaces
x = "this is a aa and that is a aaa"
y = re.findall("[^aeiou]", x)
print(y)

['t', 'h', 's', ' ', 's', ' ', ' ', ' ', 'n', 'd', ' ', 't', 'h', 't', ' ', 's', ' ', ' ']

In [49]:
# to find vowel followed by non vowel 
x = "this is a aa and that is a aaa"
y = re.findall("[aeiou][^aeiou]", x)
print(y)

['is', 'is', 'a ', 'a ', 'an', 'at', 'is', 'a ']

In [50]:
# range
x = "this is a aa and that is a aaa"
y = re.findall("[a-e]", x)
print(y)

['a', 'a', 'a', 'a', 'd', 'a', 'a', 'a', 'a', 'a']

In [51]:
# range
x = "this is a aa and that is a aaa"
y = re.findall("[a-s]", x)
print(y)

['h', 'i', 's', 'i', 's', 'a', 'a', 'a', 'a', 'n', 'd', 'h', 'a', 'i', 's', 'a', 'a', 'a', 'a']

In [52]:
# range
x = "this is a aa and that is a aaa"
y = re.findall("[A-Z]", x)
print(y)

[]

In [53]:
# range
x = "My favorite numbers are 19 and 42"
y = re.findall("[0-9]", x)
print(y)

['1', '9', '4', '2']

In [54]:
# range
x = "My favorite numbers are 19 and 42"
y = re.findall("[0-9]+", x)
print(y)

['19', '42']

In [55]:
# decimal
x = "My favorite numbers are 19.5 and 42"
y = re.findall("[0-9]+.[0-9]", x)
print(y)

['19.5']

In [56]:
# decimal
x = "My favorite numbers are 19121121.00995 and 42"
y = re.findall("[0-9]+.[0-9]", x)
print(y)

['19121121.0', '0995']

In [57]:
# decimal
x = "My favorite numbers are 19121121x00995 and 42"
y = re.findall("[0-9]+.[0-9]", x)
print(y)

['19121121x0', '0995']

In [58]:
# decimal
x = "My favorite numbers are 19121121x00995 and 42"
y = re.findall("[0-9]+.[0-9]+", x)
print(y)

['19121121x00995']

In [59]:
# decimal
x = "My favorite numbers are 19121121.00995 and 42"
y = re.findall("[0-9]+.[0-9]+", x)
print(y)

['19121121.00995']

In [60]:
# here we have to escape the special meaning of the dot
x = "My favorite numbers are 19121121.0995 and 42"
y = re.findall("[0-9]+\\.[0-9]", x)
print(y)

['19121121.0']

In [61]:
# here we have to escape the special meaning of the dot
x = "My favorite numbers are 19121121.00995 and 2.0"
y = re.findall("[0-9]+\\.[0-9]+", x)
print(y)

['19121121.00995', '2.0']

In [62]:
# here we have to escape the special meaning of the dot
x = "My favorite numbers are 19121121.00995 and 2.x"
y = re.findall("[0-9]+\\.[0-9]+", x)
print(y)

['19121121.00995']

In [63]:
#carat means none of these
x = "My 2.x favorite numbers are :  19121121.00995 , 42 and 2.5"
y = re.findall("[^0-9a-zA-Z.]", x)
print(y)

[' ', ' ', ' ', ' ', ' ', ':', ' ', ' ', ' ', ',', ' ', ' ', ' ']

In [64]:
# Fine tuning string extraction
x = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
y = re.findall('\S+@\S+',x)
print(y)

['stephen.marquard@uct.ac.za']

In [65]:
# Fine tuning string extraction
x = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
y = re.findall('[^\s@]+@[^\s@]+\.[^\s@]+\s*', x)
print(y)

['stephen.marquard@uct.ac.za ']

In [66]:
#greedy matching
x = "From  : using the : character"
y = re.findall('^F.+:', x)
print(y)

['From  : using the :']

In [67]:
#non greedy matching
x = "From  : using the : character"
y = re.findall('^F.+?:', x)
print(y)

['From  :']